  * {
    font-family: "Open Sans";
  }
  .content {
  	height: 950px;
  	width: 1060px;
  	margin-left: 200px;
    margin: 0 auto;
  }
  h1 {
   margin-top: 50px;
   margin-bottom: 40px;
   color: black;
   font-size: 40px;
 }

 nav ul {
  list-style: none; 
  display: block;
  clear: right; 
  background: linear-gradient(to top, #444343, #5e5e5e);
  height: 55px;
/*  text-shadow: black 0.1em 0.1em 0.2em;*/
}

nav ul li {
  display: inline-block; 
  height: 40px; 
  width: 140px;
}

nav ul a li {
  color: #ffffff; 
  font-size: 16px; 
  text-align: center;
  padding: 15px 0px 0px 20px;
}

nav ul li:hover {
  color: #ffffff;
  background: #3c3c3c;
  outline: 1px solid #ffffff;
  transition: 0.3s;
}
#side_bar {
 list-style: none; /* Отключение отображения маркеров. */
 width: 240px;  /* Ширина меню. */
}
#side_bar li {
 margin-top: 0px; /* Отступ между блоками по высоте, необходимый для того чтобы пункты меню не сливались */
 height: 40px;
 font-family: Verdana, Arial, Helvetica, sans-serif; /* Тип шрифта пунктов меню */
 font-size: 11px; /* Размер текста меню */
}
#side_bar li a {
 border: 1px solid #c8c8c8;
 height: 40px;
 width: 240px;
 display: block; /* Изменение отображения на блочное для того, чтобы иметь возможность задать внутренние отступы.  */
 padding: 17px 0px 0px 20px;  /* Отступы внутри блоков. */
 background: #ffffff; /* Цвет блоков меню. */
 color: #3f3f3f; /* Цвет текста в блоках меню. */
 text-decoration: none; /* Устранение подчёркивания ссылок. */

}
#side_bar li a:hover {
 font-weight: bold;
 background-color: #f9f9f9;
 transition: 0.3s;
}
.bike {
  float: right;
  margin-right: 20px;
  border: 1px solid #c8c8c8;
}
p {
	margin-top: 30px;
	padding: 70px 50px 0px 390px;
  line-height: 1.5;
  font-size: 13.333px;
  text-align: left;
}
.footer_menu ul li { 
	display: inline-block; 
  padding: 14px 20px 15px 8px;
  height: 40px; 
  width: 140px;

}
.footer_menu li a{
  float: left;
  display: inline-block;
  height: 40px;
  width: 360px;
  background-color: #e1e1e1;
  text-decoration: none;
  padding: 15px 94px 0px 25px;
  color: black;
}

.footer_menu li a:hover {
  text-decoration: underline;
}
span {
	margin-left: 840px;
	width: 180px;
	float: right;
	font-family: arial;	
  padding: 15px 0px 0px 60px;
  text-align: right;
}